* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-height: 60px;
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  position: relative;
}

#logo {
  height: 100px;
  width: 100px;
  margin: 0 20px;
}

#logo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/* navbar list */

#navbar ul {
  display: flex;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

#navbar ul li {
  /* color: white; */
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}
